# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TGA2Dfresh/Source/.vs/Application/v15/Browse.VC.db
TGA2Dfresh/Source/.vs/Application/v15/Browse.VC.opendb
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db-shm
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db-wal
*.idb
*.ilk
*.pdb
*.iobj
*.ipdb
TGA2Dfresh/Source/.vs/Application/v15/.suo
*.idb
*.log
*.tlog
*.res
*.tlog
*.log
*.pdb
*.ilk
*.idb
*.ipch
*.res
TGA2Dfresh/Source/.vs/Application/v15/.suo
*.db
*.db-shm
*.opendb
*.db-wal
*.tlog
*.pdb
*.pdb
*.log
*.idb
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.log
*.tlog
*.idb
