# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TGA2Dfresh/Source/.vs/Application/v15/Browse.VC.db
TGA2Dfresh/Source/.vs/Application/v15/Browse.VC.opendb
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db-shm
TGA2Dfresh/Source/.vs/Application/v15/Solution.VC.db-wal
*.idb
*.ilk
*.pdb
*.iobj
*.ipdb
TGA2Dfresh/Source/.vs/Application/v15/.suo
*.log
*.tlog
*.res
*.ipch
TGA2Dfresh/Source/.vs/Application/v15/.suo
*.db
*.db-shm
*.opendb
*.db-wal
*.idb
*.pdb
*.tlog
*.tlog
*.lastbuildstate
*.log
*.idb
*.idb
TGA2Dfresh/Source/Game/Game.vcxproj.filters
TGA2Dfresh/Source/Game/Game.vcxproj.filters
*.idb
*.idb
*.idb
*.log
*.pdb
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.idb
*.idb
*.pdb
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/Lib.command.1.tlog
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/Lib-link.write.1.tlog
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/CommonUtilities.lastbuildstate
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/CL.write.1.tlog
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/CL.read.1.tlog
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.tlog/CL.command.1.tlog
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.pdb
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.log
TGA2Dfresh/Source/CommonUtilities/Intermediate/CommonUtilities.idb
